<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shortened URL</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header>
    <h1 class="title">URL Shortener</h1>
    <a href="https://github.com/Neeraj-x0" target="_blank" class="github-container">
      GitHub
    </a>
  </header>
  <main>
    <div class="card">
      <h2 class="card-title">Your Shortened URL</h2>
      <p>Shortened URL:</p>
      <a href="<%= shortUrl %>" target="_blank" class="short-url"><%= shortUrl %></a>
    </div>
  </main>
  <footer>
    &copy; 2023 URL Shortener
  </footer>
</body>
</html>
